/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lavender;
}

.rowfull {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: auto;
  margin-top: -15px;
  left: 50%;
}
