<div class="container">
  <div class="row rowfull px-4">
    <div class="col-md-12 pt-4 pb-3">
      <h4>Confirmar Pedido</h4>
      <mat-card>
        <mat-card-title><h6>Resumen de Pedido</h6></mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12 col-sm-12"></div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12"></div>

            <div class="col-md-8 col-sm-12">
              <agm-map [zoom]="15"
                       [latitude]="lat"
                       [longitude]="lng"
                       (mapReady)="onMapReady($event)">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
