@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}
.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.vertical-center {
  
 margin-top:-100px;
  
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: blur(5px);
}

.card {
  margin-top: 10vh;
  width: 40vh;
}

.rowfull{
    height:auto;
}
