<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<div class="container" style="">
  <div class="row rowfull px-4">
    <div class="col-md-12 pt-4 pb-3"><h4>Nuevo Pedido</h4></div>
    <div class="col-md-12 col-sm-12">
      <mat-card class="p-4">
        <mat-card-title><h6>Bolson de comida</h6></mat-card-title>
        <mat-card-content style="height: 25vh">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4"
                   style="border-color: black; border: outset"></div>
              <div class="col-md-8"
                   style="border-color: black; border: outset"></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-12 pb-3"><h5>Adicionales</h5></div>

    <div class="col-md-8">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <mat-card *ngFor="let item of [].constructor(10)"
                    class="p-4 swiper-slide">
            <mat-card-title><h6>Adicional</h6></mat-card-title>
            <mat-card-content style="height: 20vh">
              <div class="container">
                <div class="row"></div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class=""><h6>A donde te lo llevamos?</h6></div>

      <form>
        <div class="row">
          <mat-radio-group>
            <mat-radio-button class="col-md-12" value="auto">Casa</mat-radio-button>
            <mat-radio-button class="col-md-12" value="always">Abuelo</mat-radio-button>
          </mat-radio-group>

          <div class="col-md-12">
            <mat-form-field>
              <mat-select required>
                <mat-option>-- None --</mat-option>
                <mat-option value="option">Option</mat-option>
              </mat-select>
              <mat-label><mat-icon>home</mat-icon> Otros Domicilios</mat-label>
            </mat-form-field>
          </div>
        </div>
      </form>

      <div class="">
        <button mat-raised-button
                block
                color="accent"
                class="btn btn mb-4 btn-block"
                routerLink="/confirmarPedido">
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>
